<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <%= form_with model: @stock_form, url: url, method: method, id: 'new_stock', local: true do |f| %>
      
      <%# エラーメッセージ表示 %>
      <%= render 'shared/error_messages', model: f.object %>

        <div class="message-field mb-2">
          <%= f.label :name, "商品名", class:"form-label"%><br />
          <%= f.text_field :food_name, class:"form-control" %>
        </div>
        <div class="tag_field mb-2">
          <%= f.label :name, "賞味期限", class:"form-label" %><br />
          <%= f.date_field :expiration_date, class:"form-control" %>
        </div>
        <div class="tag_field mb-2">
          <%= f.label :name, "備考欄", class:"form-label"  %><br />
          <%= f.text_area :memo, class:"form-control" %>
        </div>
        <div class="tag_field mb-3">
          <%= f.label :name, "タグ", class:"form-label"  %><br />
          <%= f.text_field :tag_name, class:"form-control" %>
          <div class="form-text">「,」で区切ると複数タグ登録できます</div>
        </div>
        <div class="image-field mb-3">
          <div class="click-upload">
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="submit-btn mb-2 text-center">
          <%= f.submit '送信', class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>