<nav class="navbar navbar-expand-md bg-body-secondary" data-bs-theme="light">
  <div class="container-fluid">
    <%= link_to '在庫登録', new_stock_path, class:"btn btn-primary" %>
    <div class="collapse navbar-collapse justify-content-lg-end" id="navbar">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="在庫一覧から検索" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<%# 在庫一覧の表示 %>
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @stocks.each do |stock| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
          <%= image_tag stock.image, class: "card-img-top img-fluid" %>
          <div class="card-body">
            <h5 class="card-title fw-bold"><%= stock.food_name %></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">備考欄：<%= stock.memo %></li>
              <li class="list-group-item">タグ：
                <% stock.tags.each do |tag| %>
                  <%= tag.tag_name %>
                <% end %>
              </li>
              <li class="list-group-item fw-bold">賞味期限：<%= stock.expiration_date %></li>
            </ul>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div class="btn-group">
                <%= link_to '編集', edit_stock_path(stock.id), class:"btn btn-sm btn-outline-secondary"%>
                <%= link_to '削除', stock_path(stock.id), method: :delete, class:"btn btn-sm btn-outline-secondary"%>
              </div>
              <% if stock.expiration_date.present? %>
                <% remaining_days = @remaining_days[stock.id] %>
                <% if remaining_days >= 0 %>
                  <% if remaining_days <= 7 %>
                    <%# 残り7日前の表示 %>
                    <h5 style="color: red;" class="fw-bold">残り <%= remaining_days %> 日</h5>
                  <% else %>
                    <h5>残り <%= remaining_days %>日</h5>
                  <% end %>
                <% else %>
                  <%#  期日を過ぎているときの表示%>
                  <h5 style="color: red;" class="fw-bold">過ぎています</h5>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
