<nav class="navbar navbar-expand-md bg-body-secondary" data-bs-theme="light">
  <div class="container-fluid">
    <%= link_to '在庫登録', new_stock_path, class:"btn btn-primary" %>
    <div class="collapse navbar-collapse justify-content-lg-end" id="navbar">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="在庫一覧から検索" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<%# 在庫一覧の表示 %>
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @stocks.each do |stock| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <%= image_tag stock.image.variant(resize: '500x500'), class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= stock.food_name %></h5>
            <p class="card-text"><%= stock.memo %></p>
            <p class="card-text">タグ:

            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to '編集', root_path, class:"btn btn-sm btn-outline-secondary"%>
                <%= link_to '削除', root_path, class:"btn btn-sm btn-outline-secondary"%>
              </div>
              <h5 class="text-body">賞味期限：<%= stock.expiration_date %></h4>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
