<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto mt-3" style="width: 200px;">
      <h2 class="mb-3">ログイン</h2>
      <%# ログイン時のエラーメッセージ  %>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
    
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class:"form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mb-2" %>
        </div>
    
        <div class="field">
          <%= f.label :password, class:"form-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control mb-2" %>
        </div>
    
        <div class="actions">
          <%= f.submit "ログイン",class:"mt-2 btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

